<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #alert-message{
            width: 100%;
            background-color: crimson;
            
        }
    </style>
</head>
<body>
    <h1>Test new user with AXIOS</h1>


    <form id="new-user-form">

        <div id="alert-message">
            <p></p>
        </div>

        <input type="text" id="surname" name="surname">
        <input type="text" id="name" name="name">
        <input type="text" id="email" name="email">
        <button id="button_new_user">Send</button>
    </form>


    <script defer>
        const surnameField = document.getElementById('surname');
        const nameField = document.getElementById('name');
        const emailField = document.getElementById('email');
        var newUserForm = document.getElementById('new-user-form');
        var flashMessage = document.createElement("DIV");
        var alertMessage = document.getElementById('alert-message');     
        var alertText = document.querySelector('#alert-message p');

        function buttonNewUserCallBack(e) {
            //alert('nu ai completat toate campurile');

            e.preventDefault();
            
            if(surnameField.value==='' || emailField.value==='') {
                
                // flashMessage.innerHTML = 'nu ai completat toate campurile';
                // flashMessage.style.backgroundColor="red";
                // newUserForm.appendChild(flashMessage);
                //alert('nu ai completat toate campurile');
                alertText.innerHTML = 'nu ai completat toate campurile';

            } else {
                

                const user = {
                    surname: surnameField.value,
                    name: nameField.value,
                    email: emailField.value,
                    hash: 'hhh',
                    salt: 'sss',
                    user_type: 'Client',
                    active: true
                };

                // axios.post(`http://localhost:3000/admin/api/v1.0/users`, user,  {headers: {'content-type': 'application/json'}}) 
                //     .then(response => {
                //         //res.render('admin/users/edit_user', {user: response.data});
                //         //console.log(response.data);
                //         alert(response.data);
                //         //flashMessage.innerText = JSON.stringify(response.data, null, '\t');
                    
                //     })
                //     .catch();
                
                fetch('http://localhost:3000/admin/api/v1.0/users', {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    body: JSON.stringify(user)
                })
                .then(res => {
                    res.json()
                    .then( data => {
                        //console.log(data);
                        alertText.innerHTML = data.message;
                    })
                    .catch();       
                })
                .catch();
               
            }         
        };

        var button_new_user = document.getElementById("button_new_user");
        //button_new_user.onclick = buttonNewUserCallBack;
        button_new_user.addEventListener('click', buttonNewUserCallBack);


    </script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
</body>
</html>

